aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
decorator==5.1.1
exceptiongroup==1.1.0
frozenlist==1.3.3
fsspec==2023.1.0
gcsfs==2023.1.0
google-api-core==2.11.0
google-auth==2.16.1
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.6.0
google-cloud-bigquery-storage==2.18.1
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-dataproc-templates==0.0.1
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
graphdatascience==1.6
grpcio==1.51.3
grpcio-status==1.51.3
idna==3.4
iniconfig==2.0.0
multidict==6.0.4
multimethod==1.9.1
mypy==1.0.1
mypy-extensions==1.0.0
neo4j==5.5.0
neo4j_arrow @ https://github.com/neo4j-field/neo4j_arrow/archive/refs/tags/0.4.0.tar.gz
numpy==1.24.2
oauthlib==3.2.2
packaging==23.0
pandas==1.5.3
pluggy==1.0.0
proto-plus==1.22.2
protobuf==4.22.0
py4j==0.10.9.5
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyspark==3.3.2
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.14
yarl==1.8.2
